<md-bottom-sheet >
	<md-button target="_blank" class="md-raised">
	<span class="md-display-3">
			<p>Jibbir me timbers!<br>
			<hr>
			You've found yourself on a very special site<br>
			<hr>
			A chat unlike any other<br>
			<hr>
			The fastest real time randomly generated chatroom on the web!<br>
			<hr>
			No more flash!<br> 
			<hr>
			No more data-parsing!<br>
			<hr>
			No more meeting creepy people on tinder!<br>
			<hr>
			Only meet creepy people on Jibbir!<br>
			<hr>
			Are you ready to get Jibbiring?<br>
			<hr>
			</P>
			<md-button href="/#/jibbir"  class="md-primary md-raised" >
				Get me Jibbiring
			</md-button>
			</md-button>
		</span>
</md-bottom-sheet>