<md-bottom-sheet style="height:150px">
	<md-button target="_blank" class="md-raised">
	<span class="md-display-3">
			Jibbir me timbers!
			<hr>
			You've found yourself on a very special site
			<hr>
			A chat unlike any other 
			<hr>
			The fastest real time randomly generated chatroom on the web!
			<hr>
			No more flash! 
			<hr>
			No more data-parsing!
			<hr>
			No more meeting creepy people on tinder!
			<hr>
			Only meet creepy people on Jibbir!
			<hr>
			Are you ready to get Jibbiring?
			<hr>
			
			<md-button href="/#/jibbir"  class="md-primary md-raised" >
				Get me Jibbiring
			</md-button>
			</md-button>
		</span>
</md-bottom-sheet>