<ul id="messages"></ul>
<form action="">
  <input id="m" autocomplete="off" />
  <button>Send</button>
</form>

<header>
  <input type="text" id="name" placeholder="My name" autofocus />
  <button onclick="setName()">Set my name</button>
  <button onclick="joinRoom()">Join room</button>
  <button onclick="leaveRoom()">Leave room</button>
  <br/>
  <input type="text" id="message" placeholder="My message" />
  <button onclick="sendMessage()">Send message</button>
</header>

<div id="container">
  <div id="chatbox"></div>
</div>

<script>
  var skylink = new Skylink();

// skylink.on('peerJoined', function(peerId, peerInfo, isSelf) {
//   var user = 'You';
//   if(!isSelf) {
//     user = peerInfo.userData.name || peerId;
//     console.log(peerInfo);
//   }
//   addMessage(user + ' joined the room', 'action');
// });

skylink.on('peerUpdated', function(peerId, peerInfo, isSelf) {
  if(isSelf) {
    user = peerInfo.userData.name || peerId;
    addMessage('You\'re now known as ' + user, 'action');
  }
});

// skylink.on('peerLeft', function(peerId, peerInfo, isSelf) {
//   var user = 'You';
//   if(!isSelf) {
//     user = peerInfo.userData.name || peerId;
//   }
//   addMessage(user + ' left the room', 'action');
// });

// skylink.on('incomingMessage', function(message, peerId, peerInfo, isSelf) {
//   var user = 'You',
//       className = 'you';
//   if(!isSelf) {
//     user = peerInfo.userData.name || peerId;
//     className = 'message';
//   }
//   addMessage(user + ': ' + message.content, className);
// });

skylink.init('3802100f-0384-4b1b-8a42-c49e38ab178f'); // Get your own key at developer.temasys.com.sg

function setName() {
  var input = document.getElementById('name');
  skylink.setUserData({
    name: input.value
  });
}
// function logs () {
// SkylinkLogs.getLogs;
// }
// console.log(logs());

var roomNum = Math.floor(Math.random() * 5) + 1;
var room = roomNum.toString();
console.log(room);

function joinRoom() {
  skylink.joinRoom(room);
  console.log(room);
}


function leaveRoom() {
  skylink.leaveRoom();
}

function sendMessage() {
  var input = document.getElementById('message');
  skylink.sendP2PMessage(input.value);
  input.value = '';
  input.select();
}

function addMessage(message, className) {
  var chatbox = document.getElementById('chatbox'),
    div = document.createElement('div');
  div.className = className;
  div.textContent = message;
  chatbox.appendChild(div);
}

</script>