<ul id="messages"></ul>
<form action="">

</form>

<div id="container">
  <div id="chatbox"></div>
</div>

<header>
  <!--<input type="text" id="name" placeholder="My name" autofocus />-->
  <md-input-container ng-show="showName">
    <label>Enter Penis Name</label>
    <input ng-model="username" type="text" id="name" placeholder="My name" autofocus>
  </md-input-container>
  <md-button class="md-primary md-raised" onclick="setName()" ng-click="setName()" ng-show="showName">Set my name</md-button>
  <br>
  <md-input-container ng-show="showMessage">
    <label>Ejaculate your message</label>
    <textarea type="text" id="message" placeholder="My message" ng-model="chat.aMessage"></textarea>
  </md-input-container>
  <div ng-show="showMessage">
    <md-button class="md-primary md-raised" onclick="sendMessage()" ng-click="sendItOver()">Send message</md-button>
    <md-button class="md-primary md-raised" onclick="getRoomNum(); joinRoom()">Join room</md-button>
    <md-button class="md-primary md-raised" onclick="leaveRoom()">Leave room</md-button>
  </div>
  <br/>
  <!--<input type="text" id="message" placeholder="My message" ng-model="chat.aMessage" />-->

</header>



<script>
  var skylink = new Skylink();
  

// skylink.on('peerJoined', function(peerId, peerInfo, isSelf) {
//   var user = 'You';
//   if(!isSelf) {
//     user = peerInfo.userData.name || peerId;
//     console.log(peerInfo);
//   }
//   addMessage(user + ' joined the room', 'action');
// });

skylink.on('peerUpdated', function(peerId, peerInfo, isSelf) {
  if(isSelf) {
    user = peerInfo.userData.name || peerId;
    addMessage('You\'re now known as ' + user, 'action');
  }
});

// skylink.on('peerLeft', function(peerId, peerInfo, isSelf) {
//   var user = 'You';
//   if(!isSelf) {
//     user = peerInfo.userData.name || peerId;
//   }
//   addMessage(user + ' left the room', 'action');
// });

// skylink.on('incomingMessage', function(message, peerId, peerInfo, isSelf) {
//   var user = 'You',
//       className = 'you';
//   if(!isSelf) {
//     user = peerInfo.userData.name || peerId;
//     className = 'message';
//   }
//   addMessage(user + ': ' + message.content, className);
// });

// skylink.init('3802100f-0384-4b1b-8a42-c49e38ab178f'); // Get your own key at developer.temasys.com.sg

function setName() {
  var input = document.getElementById('name');
  skylink.setUserData({
    name: input.value
  });
}


// function logs () {
// SkylinkLogs.getLogs;
// }
// console.log(logs());
var room = {};  
 
function getRoomNum() {
  var roomNum = Math.floor(Math.random() * 8) + 1;
  room.number = roomNum.toString();
}

  
function joinRoom() {
  skylink.joinRoom(room.number);
  console.log(room.number);
}
// console.log(skylink.joinRoom(room));



function leaveRoom() {
  skylink.leaveRoom();
}



function sendMessage() {
  var input = document.getElementById('message');
  skylink.sendP2PMessage(input.value);
  input.value = '';
  input.select();
}

function addMessage(message, className) {
  var chatbox = document.getElementById('chatbox'),
    div = document.createElement('div');
  div.className = className;
  div.textContent = message;
  chatbox.appendChild(div);
}
var currentRoom;
var peerJoins = 0;
      skylink.on('peerJoined', function(peerId, peerInfo, isSelf) {
        var user = 'You';
        peerJoins++;
        if(!isSelf) {
          user = peerInfo.userData.name || peerId;
        }
        if (peerJoins === 2) {
          skylink.lockRoom();
        }
        addMessage(user + ' joined the room "' + currentRoom + '"', 'action');
        console.log(peerInfo);
      });

      skylink.on('peerLeft', function(peerId, peerInfo, isSelf) {
        peerJoins--;

        if (peerJoins < 2) {
          skylink.unlockRoom();
        }
        var user = 'You';
        if(!isSelf) {
          user = peerInfo.userData.name || peerId;
        }
        addMessage(user + ' left the "' + currentRoom + '"', 'action');
      });

      skylink.on('incomingMessage', function(message, peerId, peerInfo, isSelf) {
        var user = 'You',
            className = 'you';
        if(!isSelf) {
          user = peerInfo.userData.name || peerId;
          className = 'message';
        }
        addMessage(user + ': ' + message.content, className);
      });

      skylink.init('9b4f238b-5cbf-4791-9831-94668a9d9dfc', function (error, success) {
        if (success) {
          skylink.joinRoom(room.number, function (error, success) {
            if (success) {
              currentRoom = success.room.number;
            } else {
              console.error('Failed joining the room');
            }
          });
        } else {
          console.error('Failed initialising', error);
        }
      });

</script>