<ul id="messages"></ul>
<form action="">

</form>

<div id="container">
  <div id="chatbox"></div>
</div>

<header>
  <input type="text" id="name" placeholder="My name" autofocus />
  <button onclick="setName()">Set my name</button>
  <button onclick="joinRoom()">Join room</button>
  <button onclick="leaveRoom()">Leave room</button>
  <br/>
  <input type="text" id="message" placeholder="My message" />
  <button onclick="sendMessage()">Send message</button>
</header>



<script>
  var skylink = new Skylink();
  

// skylink.on('peerJoined', function(peerId, peerInfo, isSelf) {
//   var user = 'You';
//   if(!isSelf) {
//     user = peerInfo.userData.name || peerId;
//     console.log(peerInfo);
//   }
//   addMessage(user + ' joined the room', 'action');
// });

skylink.on('peerUpdated', function(peerId, peerInfo, isSelf) {
  if(isSelf) {
    user = peerInfo.userData.name || peerId;
    addMessage('You\'re now known as ' + user, 'action');
  }
});

// skylink.on('peerLeft', function(peerId, peerInfo, isSelf) {
//   var user = 'You';
//   if(!isSelf) {
//     user = peerInfo.userData.name || peerId;
//   }
//   addMessage(user + ' left the room', 'action');
// });

// skylink.on('incomingMessage', function(message, peerId, peerInfo, isSelf) {
//   var user = 'You',
//       className = 'you';
//   if(!isSelf) {
//     user = peerInfo.userData.name || peerId;
//     className = 'message';
//   }
//   addMessage(user + ': ' + message.content, className);
// });

skylink.init('3802100f-0384-4b1b-8a42-c49e38ab178f'); // Get your own key at developer.temasys.com.sg

function setName() {
  var input = document.getElementById('name');
  skylink.setUserData({
    name: input.value
  });
}


// function logs () {
// SkylinkLogs.getLogs;
// }
// console.log(logs());

  var roomNum = Math.floor(Math.random() * 2) + 1;
  var room = roomNum.toString();

var joinRoom = (function() {
  skylink.joinRoom(room);
  console.log(room);
});
// console.log(skylink.joinRoom(room));



function leaveRoom() {
  skylink.leaveRoom();
}



function sendMessage() {
  var input = document.getElementById('message');
  skylink.sendP2PMessage(input.value);
  input.value = '';
  input.select();
}

function addMessage(message, className) {
  var chatbox = document.getElementById('chatbox'),
    div = document.createElement('div');
  div.className = className;
  div.textContent = message;
  chatbox.appendChild(div);
}
var currentRoom;
var peerJoins = 0;
      skylink.on('peerJoined', function(peerId, peerInfo, isSelf) {
        var user = 'You';
        peerJoins++;
        if(!isSelf) {
          user = peerInfo.userData.name || peerId;
        }
        if (peerJoins == 2) {
          skylink.lockRoom();
        }
        addMessage(user + ' joined the room "' + currentRoom + '"', 'action');
        console.log(peerInfo);
      });

      skylink.on('peerLeft', function(peerId, peerInfo, isSelf) {
        peerJoins--;

        if (peerJoins < 2) {
          skylink.unlockRoom();
        }
        var user = 'You';
        if(!isSelf) {
          user = peerInfo.userData.name || peerId;
        }
        addMessage(user + ' left the "' + currentRoom + '"', 'action');
      });

      skylink.on('incomingMessage', function(message, peerId, peerInfo, isSelf) {
        var user = 'You',
            className = 'you';
        if(!isSelf) {
          user = peerInfo.userData.name || peerId;
          className = 'message';
        }
        addMessage(user + ': ' + message.content, className);
      });

      skylink.init('d9f0f947-4279-425b-8de9-5092d2866a89', function (error, success) {
        if (success) {
          skylink.joinRoom(room, function (error, success) {
            if (success) {
              currentRoom = success.room;
            } else {
              console.error('Failed joining the room');
            }
          });
        } else {
          console.error('Failed initialising', error);
        }
      });

</script>